<div class="form-group">
  <input
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    type="{{ type }}"
    class="form-control"
    [formControl]="control"
    placeholder="{{ label }}"
  />
  <div *ngIf="control.errors?.['required']" class="invalid-feedback">
    Please enter a {{ label }}
  </div>
  <div *ngIf="control.errors?.['minlength']" class="invalid-feedback">
    {{ label }} must be at least 4 characters
  </div>
  <div *ngIf="control.errors?.['maxlength']" class="invalid-feedback">
    {{ label }} mus be at most 20 characters
  </div>

  <div *ngIf="control.errors?.['hasUpper']" class="invalid-feedback">
    Password must contain at least one uppercase letter.
  </div>
  <div *ngIf="control.errors?.['hasLower']" class="invalid-feedback">
    Password must contain at least one lowercase letter.
  </div>
  <div *ngIf="control.errors?.['hasNumber']" class="invalid-feedback">
    Password must contain at least one number.
  </div>
  <div *ngIf="control.errors?.['hasSpecial']" class="invalid-feedback">
    Password must contain at least one special.
  </div>
  <div *ngIf="control.errors?.['matching']" class="invalid-feedback">
    Password do not match
  </div>
</div>
